:root{
    --bgColor: #282828;
    --fgColor: #ebdbb2;
    --fgColorGame: #504945;
    --cursorColor: #b16286;
    --errorColor: #fb4934;
}

body {
    color: var(--fgColor);
    background-color: var(--bgColor);
    font-size: x-large;
}

.letter.current {
    background-color: var(--cursorColor);
}

.letter.correct {
    color: var(--fgColor);
}

.letter.error {
    color: var(--errorColor);
}

.letter.error.space {
    background-color: var(--errorColor);
    opacity: 50;
}

#game {
    color: var(--fgColorGame);
}
